# Dependencies
node_modules

# Environment variables
.env
.env.*

# SSL Certificates (development only)
*.pem

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
DEPLOYMENT.md

# OS files
.DS_Store
Thumbs.db

# Build/coverage
coverage/
dist/
.tmp/

# Editor/IDE
.vscode/
.idea/

# Runtime data
pids
*.pid
*.seed
*.pid.lock